<!doctype html>
<html lang="en">
  <head>
    {{> headerHtmlTags}}
  </head>

  <body>
    {{> headerNavbar}}
    {{> mainPageHeaderContent}}

    <div class="container">
      <div class="card-deck mb-3 text-center">
        {{> mainPageContent}}
      </div>
      {{> footer}}
    </div>
    {{> footerScripts}}
  </body>
</html>
