extends layout

block content
  .container-fluid
    h1= title
    h5 online membership form.
    p Welcome to #{title} online membership registration portal beta. Please do fill the details as follows.
    form(action='/membership', method='post')
      .row
        .col-2
          | Name
        .col-8
          input#name.form-control.input-md(name="name" type="text" placeholder="Your full name" required)
      .row
        .col-2
          | Addres
        .col-8
          input#address.form-control.input-md(name="address" type="text" placeholder="Address" required)
          input#address.form-control.input-md(name="address2" type="text" placeholder="Address line #2")
      .row
        .col-2
          | Gender
        .col-8
          .row
            .col-2
              input#gender-0(type="radio" name="gender" value="Male" checked="checked" required)
              | Male
            .col-2
              input#gender-1(type="radio" name="gender" value="Female" required)
              | Female
      .row
        .col-2
          | Date of birth
        .col-8
          input#email.form-control.input-md(name="dateofbirth" type="date" placeholder="Date of birth (DOB)")
      .row
        .col-2
          | Email
        .col-8
          input#email.form-control.input-md(name="email" type="email" placeholder="mail@address.com")
      .row
        .col-2
          | Panjayath
        .col-8
          select#panjayath.form-control(name="panjayath" required)
            option Select your Panjayath
            option(value="Peruvallur") Peruvallur
            option(value="Kannamangalam") Kannamangalam
            option(value="Pallikkal") Pallikkal
      .row
        .col-2
          | Ward
        .col-8
          select#ward.form-control(name="ward" required)
            option Select your Ward
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5") 5
            option(value="6") 6
            option(value="7") 7
            option(value="8") 8
            option(value="9") 9
            option(value="10") 10
            option(value="11") 11
            option(value="12") 12
            option(value="13") 13
            option(value="14") 14
            option(value="15") 15
            option(value="16") 16
            option(value="17") 17
            option(value="18") 18
            option(value="19") 19
            option(value="20") 20
      .row
        .col-2
          | House no#
        .col-8
          input#phone.form-control.input-md(name="houseNo" type="number" placeholder="House number")
      .row
        .col-2
          | Mobile#
        .col-8
          input#phone.form-control.input-md(name="mobile" type="phone" placeholder="10 digit mobile number eg: 9876543210" required)
      .row
        .col-2
          | Guardian
        .col-8
          input#gardian.form-control.input-md(name="guardian" type="text" placeholder="Name of your father/mother" required)
      .row
        .col-3
          | Interested Activities
        .col-6
          .row
            input#interestedActivities-0(type="checkbox" name="interestedActivities" value="Sports")
            | Sports
          .row
            input#interestedActivities-1(type="checkbox" name="interestedActivities" value="Games")
            | Games
          .row
            input#interestedActivities-2(type="checkbox" name="interestedActivities" value="Cultural")
            | Cultural
          .row
            input#interestedActivities-3(type="checkbox" name="interestedActivities" value="Art")
            | Art
          .row
            input#interestedActivities-4(type="checkbox" name="interestedActivities" value="Voluntary")
            | Voluntary
          .row
            input#interestedActivities-5(type="checkbox" name="interestedActivities" value="Charity")
            | Charity
          .row
            input#interestedActivities-6(type="checkbox" name="interestedActivities" value="Politrics")
            | Politics
      .row
        .col-2
          | Educational qualification
        .col-8
          select#education.form-control(name="education" required)
            option Educational qualification
            option(value="LP") LP
            option(value="UP") UP
            option(value="SSLC") SSLC
            option(value="PDC / +2") PDC / +2
            option(value="Diploma") Diploma
            option(value="Degree") Degree
            option(value="Post Graduation") Post Graduation
      .row
        .col-2
          | Blood group
        .col-8
          select#bloodGroup.form-control(name="bloodGroup")
            option Blood group
            option(value="O-") O-
            option(value="O+") O+
            option(value="A-") A-
            option(value="A+") A+
            option(value="B-") B-
            option(value="B+") B+
            option(value="AB-") AB-
            option(value="AB+") AB+
      .row
        .col-2
          | Additional details
        .col-8
          textarea#otherOrganization.form-control(name='otherOrganisation' placeholder="Please do list the organisation's name(s), if you are a member of similar organisation.")
      .row
        .col-2
        .col-8
          p !{captcha}
      .row
        .col-2
        .col-8
          input(type='submit', value='Register',class='btn btn-primary')
