<!doctype html>
<html lang="en">
  {{> headerHtmlTags}}
  <body>
    {{> headerNavbar}}
    <div class="container">
        <h5>Online membership form.</h5>
        <p>Welcome to online membership registration portal beta. Please do fill the details as follows.</p>
        {{> registrationForm}}
    {{> footer}}
    </div>
    {{> footerScripts}}
  </body>
</html>
