<!doctype html>
<html lang="en">
  {{> headerHtmlTags}}
  <body>
    {{> headerNavbar}}
    <div class="container">
        <h5>Online membership photo uploader.</h5>
        <p>To complete the membership registration, please upload your photograp for printing the id card.</p>
        <p>Photo can be .jpeg, .jpg, .png, or .bmp format. The maximum size of the photograph is limited to 5MB.</p>
        {{> photoUploadForm}}
    {{> footer}}
    </div>
    {{> footerScripts}}
  </body>
</html>
